@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Kanit', sans-serif !important;
}

.font-header {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.text-header {
    font-size: 100px;
    color: white;
}

.bg-work {
    /* The image used */
    background-image: url("../img/background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box-description {
    margin: auto;
    width: 30%;
    font-size: 30px;
    border-radius: 3px;
    background-color: #ffada8;
    -webkit-transition: 200ms ease-in-out;
        -o-transition: 200ms ease-in-out;
        transition: 200ms ease-in-out;
        -webkit-box-shadow: 0 0 15px rgba(255,255,255,0.3);
                box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.box-description:hover {
    -webkit-box-shadow: 0 0 5px rgba(192,215,234,0.7);
            box-shadow: 0 0 5px rgba(192,215,234,0.7);
}

.w {
    width: 30%;
    margin: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* I PAD */
@media screen and (max-width : 1336px) and (min-width : 1024px) {
    .w {
        width: 30% !important;
        margin: auto;
    }

    .box-description {
        width: 80% !important;
        padding: auto;
        font-size: 40px !important;
    }
}

/* 6s */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) { 
    .w {
        width: 100% !important;
        margin: auto;
    }

    .box-description {
        width: 80% !important;
        padding: auto;
        font-size: 40px !important;
    }
}

/* X */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3){
    #description{
        display: none;
    }
    .box-description {
        width: 80% !important;
        padding: auto;
        font-size: 40px !important;
    }
    .w {
        width: 100% !important;
        margin: auto;
    }
    .text-small{
        font-size: 85px;
        padding-bottom: 0px;
    }
    .text-xsmall{
        font-size: 70px;
        padding-top: 0px;
        padding-left: 5px;
    }
    .img-small{
        width: 50% !important;
        margin: auto;
    }
    .card {
        margin: 0px 0px 30px 0px;
    }
    #btn-select{
        display: none;
    }
}